Estimation

Data import

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/maximenc/pycop/master/data/msci.csv")
df.index = pd.to_datetime(df["Date"], format="%m/%d/%Y")
df = df.drop(["Date"], axis=1)

for col in df.columns.values:
    df[col] = np.log(df[col]) - np.log(df[col].shift(1))

df = df.dropna()
df.head()

,US,UK,Switzerland,Sweden,Spain,Singapore,Norway,Netherlands,Japan,Italy,HongKong,Germany,France,Denmark,Canada,Belgium,Austria,Australia
Date,,,,,,,,,,,,,,,,,,
2000-01-03,-0.006364,0.007418,0.011909,0.028405,0.007995,0.033686,0.026981,0.015721,0.008980,-0.020180,0.014310,-0.015929,0.007571,0.027345,0.004973,0.001408,0.016172,0.008597
2000-01-04,-0.040896,-0.029006,-0.023266,-0.013283,-0.014809,-0.014969,-0.029136,-0.033486,-0.016367,-0.010596,-0.013452,-0.010644,-0.029656,-0.010718,-0.030336,-0.029099,0.004299,-0.013132
2000-01-05,0.002601,-0.018383,-0.009263,-0.047861,-0.022228,-0.056299,-0.025306,-0.010066,-0.044737,-0.016052,-0.070700,-0.009102,-0.030744,-0.020555,-0.016362,-0.032784,0.004861,-0.023347
2000-01-06,-0.008583,-0.006808,0.012965,0.000126,0.001160,-0.022711,0.011887,-0.007967,-0.038755,-0.016775,-0.044639,-0.006322,-0.004272,0.009259,-0.010937,0.002415,0.001160,-0.007932
2000-01-07,0.033973,0.000371,0.016261,0.004622,0.017736,0.028970,0.010170,0.027949,-0.003075,0.025474,0.018907,0.040592,0.011951,-0.000775,0.050676,0.018796,0.018210,0.010410

Import the pycop library that's not in Colab

In [ ]:
!pip install pycop

Requirement already satisfied: pycop in /usr/local/lib/python3.7/dist-packages (0.0.6)

Estimation of a single Copula parameter

In [ ]:
from pycop import archimedean, estimation
cop = archimedean(family="clayton")

data = df[["US","UK"]].T.values
param, cmle = estimation.fit_cmle(cop, data)
print("Estimated parameter: ", param[0])

method =  SLSQP  - termination =  True  - message:  Optimization terminated successfully.
Estimated parameter:  0.8025977727691012

Mixture

Mixture of 2 Copulas

In [ ]:
from pycop import mixture

cop = mixture(["clayton", "gumbel"])

param, mle = estimation.fit_cmle_mixt(cop,data )
print("Estimated parameters: ")
print("weight in Clayton copula: ", param[0])
print("weight in Gumbel copula: ", 1-param[0])
print("Clayton parameter: ", param[1])
print("Gumbel parameter: ", param[2])

method =  SLSQP  - termination =  True  - message:  Optimization terminated successfully.
Estimated parameters:
weight in Clayton copula:  0.5515374306606079
weight in Gumbel copula:  0.4484625693393921
Clayton parameter:  0.42308968740122027
Gumbel parameter:  2.265138697501126

Mixture of 3 Copulas

In [ ]:
cop = mixture(["clayton", "frank", "gumbel"])

param, mle = estimation.fit_cmle_mixt(cop, data)
print("Estimated parameters: ")
print("weight in Clayton copula: ", param[0])
print("weight in Frank copula: ", param[1])
print("weight in Gumbel copula: ", param[2])
print("Clayton parameter: ", param[3])
print("Frank parameter: ", param[4])
print("Gumbel parameter: ", param[5])

method =  SLSQP  - termination =  True  - message:  Optimization terminated successfully.
Estimated parameters:
weight in Clayton copula:  0.35613959154707575
weight in Frank copula:  0.12637150155636992
weight in Gumbel copula:  0.5174889068965544
Clayton parameter:  1.5089246645156034
Frank parameter:  -5.899959588867644
Gumbel parameter:  1.8415684650315947